.project_detail{
        padding: 0rem 1rem 0rem 1rem; 
        overflow: hidden;
}

.project_img{
    width: 100%;
    border-radius: 1rem;
}

.project_detail > p {
    font-size: 1.3rem;
    letter-spacing: -0.07rem;
}