.technologies{
    padding: 0rem 2rem 0rem 2rem;
}

.technologies_content {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}

i{
    font-size: 3rem;
}

.technologies_img {
    width: 45px;
    margin: 0;
    padding: 0;
}