.technologies{
    padding: 0rem 2rem 0rem 2rem;
    text-align: center;
}

.technologies_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 1rem;
}

i{
    font-size: 3rem;
}

.technologies_img {
    width: 45px;
}