.about{
    padding: 2rem 2rem 2rem 2rem;
    overflow: hidden;
}

.about > p {
    text-align: left;
  
}

/*=============== BREAKPOINTS ===============*/
/*For Tablets*/
@media screen and (min-width: 600px) {
    .about{
        padding-bottom: 5rem; 
    }  

    .about > p{
        padding: 0 3rem 0 5rem;
    }
}

/* For hd devices */
@media screen and (min-width: 1250px) {
    .about{
        padding-bottom: 8rem; 
    }

    .about > p{
        font-size: 1rem;
        padding: 0 5rem 0 8rem;
    }
}
  
/* For full hd devices */
@media screen and (min-width: 1900px) {
    .about{
        padding-bottom: 10rem;  
    }

    .about > p {
        padding: 0rem 10rem 0rem 15rem;  
        font-size: 1.4rem;
    }
}

/* For 2k and 4k devices */
@media screen and (min-width: 3000px) {
    .about{
        padding-bottom: 20rem;  
    }

    .about > p {
        font-size: 2.6rem;
        padding: 0 20rem 0 35rem;
    }
}