.call{
    padding-bottom: 150px;
}

img {
    width: 35rem;
    margin-top: 50vh;
    margin-left: 5vh;
}

video {
    z-index: -1;
    position: absolute;
    width: 1346px;
    height: 750px;
    object-fit: cover;
    top: 0px;    
}