.contact{
  padding: 2rem 2rem 2rem 2rem;
  display: grid;
  grid-template-areas:
  "appointment_info"
  "appointment_form";
}
    
.contact_form {
    grid-area: appointment_form;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin: 2rem -1rem 0rem -1rem;
    border: solid 1px #2b273b;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 20px 50px;
}

.contact_info {
  grid-area: appointment_info;
}

.contact_info > h2{
  margin-top: -1rem;
  color: rgb(230, 230, 230);
}

.contact_info > p{
  padding-bottom: 2rem;
}
    
.contact_info span{
 color: #02B1C3;
 font-size: 3rem;
}

.contact_item{
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
  padding-bottom: 1rem;
}

.contact_item > p {
  font-weight: 800;
  color: rgb(230, 230, 230);
  transition: .5s ease;
}

.contact_item > i {
  font-size: 2rem;
  color: #02B1C3;
  transition: .5s ease;
}

.contact_item:hover > p {
  color: rgb(255, 255, 255);
}

.contact_item:hover > i {
  color: #00d2e9;
}
 
.form_group{
  font-size: 0.85rem;
  display: inline-block;
  font-weight: 600;
}
    
input, 
textarea, 
select{
  background: #292636;
  color: rgb(250, 250, 250);
  font-size: 1rem;
  padding: 0.85rem 1rem;
  display: block;
  width: stretch;
  border-radius: 0.4rem;
  resize: none;
  appearance: none;
  border: none;
}

.btn_send{
  font-weight: bold;
  background-color: #02B1C3;
  color: black;
  cursor: pointer;
  transition: .5s;
}
.btn_send:hover{
  color: white;
}


/*=============== BREAKPOINTS ===============*/
/*For Tablets*/
@media screen and (min-width: 600px) {
  .contact{
    padding: 0rem 3rem 4rem 3rem; 
}
}

/* For hd devices */
@media screen and (min-width: 1250px) {
  .contact_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "info form";
    gap: 2rem;
  }

  .contact{
      padding: 0rem 8rem 4rem 8rem; 
  }

  .contact_info{
    grid-area: info;
  }

  .contact_form{
    grid-area: form;
    margin: 0rem -1rem 0rem -1rem;
  }
  
}

/* For full hd devices */
@media screen and (min-width: 1900px) {
  .contact{
    padding: 0rem 20rem 4rem 20rem;  
  }

  .appointment{
    font-size: 1.3rem;
  }

  input, 
  textarea, 
  select{
    font-size: 1.3rem;
  }
}

/* For 2k and 4k devices */
@media screen and (min-width: 3000px) {
  .contact{
    padding: 0rem 45rem 10rem 45rem;
    font-size: 2.4rem;  
  }

  .contact_info > p{
    font-size: 2.5rem;
  }

  .contact_item{
    padding-bottom: 2.5rem;
    gap: 2rem;
  }

  .contact_item > p {
    font-size: 2.5rem;
  }
  
  .contact_item > i {
    font-size: 3rem;
  }

  .appointment_form {
    border: solid 4px #2b273b;
    box-shadow: rgb(0 0 0 / 50%) 0px 60px 150px;
  }

  input, 
  textarea, 
  select{
    font-size: 2.7rem;
  }
}