.contact{
    padding: 2rem 2rem 2rem 2rem;
    overflow: hidden;
}

.appointment{
  display: grid;
  grid-template-areas:
  "appointment_info"
  "appointment_form";
}
    
.appointment_form {
    grid-area: appointment_form;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin: 2rem -1rem 0rem -1rem;
    border: solid 1px #2b273b;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 50%) 0px 20px 50px;
    padding-bottom: 2rem
}

.appointment_info {
  grid-area: appointment_info;
}

.appointment_info > h2{
  margin-top: -1rem;
}

.appointment_info > p{
  padding-bottom: 2rem;
}
    
.appointment_info span{
 color: #02B1C3;
 font-size: 3rem;
}

    
.form_group{
  font-size: 0.85rem;
  display: inline-block;
  font-weight: 600;
}
    
input, 
textarea, 
select{
  background: #292636;
  color: rgb(250, 250, 250);
  font-size: 1rem;
  padding: 0.85rem 1rem;
  display: block;
  width: stretch;
  border-radius: 0.4rem;
  resize: none;
  appearance: none;
  border: none;
}

.btn_send{
  font-weight: bold;
  background-color: #02B1C3;
  color: black;
  cursor: pointer;
  transition: .5s;
}
.btn_send:hover{
  color: white;
}

.appointment_button_linkedin{
  background-color: #0358ad;
  color: white;
  margin-left: 0rem;
  transition: .5s;
}
.appointment_button_linkedin:hover{
  background-color: #146bc2;
}

.appointment_button_github{
  background-color: rgba(255, 255, 255, 0.87);
  color: black;
  transition: .5s;
}
.appointment_button_github:hover{
  background-color: rgba(255, 255, 255, 0.952);
}

.appointment_button_youtube{
  background-color: rgb(190, 5, 5);
  color: white;
  transition: .5s;
}
.appointment_button_youtube:hover{
  background-color: rgb(218, 15, 15);
}


/*=============== BREAKPOINTS ===============*/
/* For hd devices */
@media screen and (min-width: 1250px) {
  .contact{
      padding: 0rem 8rem 4rem 8rem; 
  }
}

/* For full hd devices */
@media screen and (min-width: 1900px) {
  .contact{
    padding: 0rem 20rem 4rem 20rem;  
  }

  .appointment{
    font-size: 1.3rem;
  }

  input, 
  textarea, 
  select{
    font-size: 1.3rem;
  }
}

/* For 2k and 4k devices */
@media screen and (min-width: 3000px) {
  .contact{
    padding: 0rem 45rem 10rem 45rem;  
  }

  .appointment{
    font-size: 2.7rem;
  }

  .appointment_form {
    border: solid 4px #2b273b;
    box-shadow: rgb(0 0 0 / 50%) 0px 60px 150px;
  }

  input, 
  textarea, 
  select{
    font-size: 2.7rem;
  }
}