.call{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.logo_image {
    width: 20rem;
    position: absolute;
    display: block;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

video {
    z-index: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;   
}

.cross {
    position: absolute;
    display: block;
    margin: auto;
    bottom: 5.5rem;
    left: 0;
    right: 0;
}

.cross span{
    display: flex;
    justify-content: center;
    color: white;
}

.cross_one {
    animation: cross-one-animation 3s infinite;
}


@keyframes cross-one-animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

.cross_two {
    margin-top: -25px;
    animation: cross-two-animation 3s infinite;
}

@keyframes cross-two-animation {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}

