.degree{
    padding: 2rem 2rem 2rem 2rem;
}

.degree_item{
    display: grid;
    grid-template-areas:
    "degree_image degree_details degree_details";
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
}

.degree_image{
    grid-area: degree_image;
    text-align: right; 
}

.degree_img{
    max-width: 100px;
    padding: 20px;
}

.degree_detail{
    grid-area: degree_details;
    text-align: left;
    font-size: .7rem;
    margin: auto;
}



