.degree{
    padding: 2rem 2rem 0rem 2rem;
    overflow: hidden;
}

.degree_item{
    display: grid;
    grid-template-areas:
    "degree_image degree_details degree_details";
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 1rem;
}

.degree_image{
    grid-area: degree_image;
    text-align: right; 
}

.degree_img{
    max-width: 100px;
    padding: 20px;
}

.degree_detail{
    grid-area: degree_details;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: .7rem;
}

/*=============== BREAKPOINTS ===============*/
/* For hd devices */
@media screen and (min-width: 1250px) {
    .degree{
        padding: 0rem 8rem 4em 8rem; 
    }

    .degree_img{
        max-width: 7rem;
    }

    .degree_detail{
        font-size: .8rem;
    }
}
  
/* For full hd devices */
@media screen and (min-width: 1900px) {
    .degree_img{
        max-width: 9rem;
    }

    .degree_detail{
        font-size: 1.1rem;
    }
}

/* For 2k and 4k devices */
@media screen and (min-width: 3000px) {
    .degree{
        padding: 0rem 20rem 9rem 20rem;  
    }

    .degree_img{
        max-width: 15rem;
    }

    .degree_detail{
        font-size: 2rem;
        padding-left: 3rem;
    }

    .degree_item{
        padding-bottom: 5rem;
    }
}


