.work{
    padding: 2rem 1rem;
    overflow: hidden;
}

.work_item{
    display: grid;
    grid-template-areas:
    "work_image work_detail work_detail"
    "work_info work_info work_info ";
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.work_detail p:nth-child(2){
    font-size: .9rem;
    padding: .2rem 0;
    text-transform: uppercase;
}

.work_image{
    grid-area: work_image;
    display: flex;
    justify-content: left;
    padding: 20px;
}

.work_img{
    display: flex;
    margin: 0;
    max-width: 7rem;
    opacity: .9;
    border-radius: 1rem;
  
}

.work_detail{
    grid-area: work_detail;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
}

.work_info{
    grid-area: work_info;
    display: flex;
    flex-direction: column;
    justify-content:center;
    padding: .8rem 1.5rem 0 1.5rem;
}   

/*=============== BREAKPOINTS ===============*/
/* For tablets devices */
@media screen and (min-width: 600px) {
    .work_item{
        grid-template-areas:
        "work_image work_detail work_detail work_detail"
        "work_info work_info work_info work_info ";
        grid-template-columns: repeat(4, 1fr);
        padding: 0rem 2rem 3rem 3rem;
    }

    .work_img{
        margin-left: 2rem;
    }
}
/* For hd devices */
@media screen and (min-width: 1250px) {
    .work{
        padding: 0rem 8rem 4rem 5rem; 
    }

    .work_item{
        padding-bottom: 3rem;
        grid-template-areas:
        "work_image work_detail work_detail work_detail work_detail"
        "work_image work_info work_info work_info work_info";
        grid-template-columns: repeat(5, 1fr);
    }


    .work_info{
        padding-left: 3rem;
        font-size: 1.1rem;
    }

    .work_detail p:nth-child(2){
        font-size: 1rem;
        padding-left: 3rem;
    }

    .work_detail > h2 {
        font-size: 2rem;
        padding-left: 3rem;

    }

    .work_img{
        max-width: 6rem;
        max-height: 10rem;
    }

    .work_image{
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        border-right: solid 1px #3c3752;
    }    
}
  
/* For full hd devices */
@media screen and (min-width: 1900px) {
    .work{
        padding: 0rem 12rem 5rem 12rem;  
    }

    .work_item{
        padding-bottom: 3rem;
        grid-template-areas:
        "work_image work_detail work_detail work_detail work_detail"
        "work_image work_info work_info work_info work_info";
        grid-template-columns: repeat(5, 1fr);
    }

    .work_info{
        padding-left: 3rem;
        padding-right: 2rem;
        font-size: 1.1rem;
    }

    .work_detail p:nth-child(2){
        font-size: 1rem;
        padding-left: 3rem;
    }

    .work_detail > h2 {
        font-size: 2rem;
        padding: 0;
        padding-left: 3rem;
    }

    .work_detail > p {
        font-size: 1.4rem;
    }

    .work_img{
        max-width: 6.5rem;
        max-height: 6.5 rem;
        margin-left: 7rem;
        margin-right: 2rem;
    }

    .work_image{
        padding-right: 8rem;
    }  
}

/* For 2k and 4k devices */
@media screen and (min-width: 3000px) {
    .work{
        padding: 0rem 35rem 10rem 35rem;
    }

    .work_item{
        padding-bottom: 5rem;
    }

     .work_detail > h2 {
        font-size: 3.5rem;
        padding-left: 9rem;
    }

    .work_info{
        font-size: 2.8rem;
        padding-left: 9rem;
    }

    .work_detail p:nth-child(2){
        font-size: 2.2rem;
        padding-left: 9rem;
    }

    .work_img{
        margin-left: 7rem;
        max-width: 14rem;
        max-height: 14rem;
    }

}