.work{
    padding: 2rem 0rem;
    overflow: hidden;
}

.work_item{
    display: grid;
    grid-template-areas:
    "work_image work_details work_details";
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
    padding-right: 1rem;
}

.work_detail p:nth-child(2){
    font-size: .9rem;
    padding: .2rem 0;
    text-transform: uppercase;
}

.work_image{
    grid-area: work_image;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.work_img{
    max-width: 100px;
    padding: 20px;
    opacity: .9;
}

.work_detail{
    grid-area: work_details;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 1rem;
}

/*=============== BREAKPOINTS ===============*/
/* For tablets devices */
@media screen and (min-width: 600px) {
    .work_item{
        grid-template-areas:
        "work_image work_details work_details work_details";
        grid-template-columns: repeat(4, 1fr);
        padding-right: 3rem;
        padding-left: 1rem;
    }
}
/* For hd devices */
@media screen and (min-width: 1250px) {
    .work{
        padding: 0rem 8rem 4rem 8rem; 
    }

    .work_item{
        grid-template-areas:
        "work_image work_details work_details work_details";
        grid-template-columns: repeat(4, 1fr);
        padding-right: 4rem;
    }

    .work_detail > p{
        font-size: 1rem;
    }
    
    .work_img{
        max-width: 7rem;
    }

    .work_image{
        padding-right: 1rem;
        margin-right: 0;
    }
}
  
/* For full hd devices */
@media screen and (min-width: 1900px) {
    .work{
        padding: 0rem 10rem 5rem 10rem;  
    }

    .work_item{
        padding-bottom: 3rem;
    }

    .work_detail p:nth-child(2){
        font-size: 1rem;
    }

    .work_detail > h2 {
        font-size: 2rem;
    }

    .work_detail > p {
        font-size: 1.4rem;
    }

    .work_img{
        max-width: 10rem;
    }
}

/* For 2k and 4k devices */
@media screen and (min-width: 3000px) {
    .work{
        padding: 0rem 35rem 10rem 35rem;
    }

    .work_item{
        padding-bottom: 5rem;
    }

    .work_detail > h2 {
        font-size: 3.5rem;
    }

    .work_detail > p {
        font-size: 2.5rem;
        padding-right: 20rem;
    }

    .work_detail p:nth-child(2){
        font-size: 1.8rem;
        padding: .2rem 0;
        text-transform: uppercase;
    }

    .work_img{
        max-width: 13rem;
    }
}