.work{
    padding: 2rem 2rem 2rem 2rem;
}

.work_item{
    display: grid;
    grid-template-areas:
    "work_image work_details work_details";
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.work_image{
    grid-area: work_image;
    text-align: right; 
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.work_img{
    max-width: 100px;
    padding: 20px;
}

.work_detail{
    grid-area: work_details;
    text-align: left;
    font-size: 1rem;
}