footer{
    background-color: #17151F;
    
}

.footer_container{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #4d4668;
}

.footer_logo{
    width: 300px;
    margin: 0;
    padding: 4rem;
}

.footer_icons{
    display: flex;
    gap: 1rem;
    width: 300px;
    margin: 0;
    padding: 4rem;
    color: rgb(194, 194, 194);
}

.footer_icon_item:hover{
    color: #00BFD1;
}

.footer_right{
    text-align: center;
    padding: 1rem;
    margin: 0;
    color: rgb(219, 219, 219);
}

a{
    color: white;
}